footer {
  background-color: #953944;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

footer p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

footer i {
  font-size: 3rem;
  color: #fff5d1;
  transition: color 0.3s, font-size 0.3s;
  margin-right: 0.4rem;
}

footer i:hover {
  font-size: 3.2rem;
}
